body{
 Background: Red;
 color:#000066;
}
#contents{
 margin-left:auto;
 margin-right:auto;
 width:600px;
 
 backgronud:#fffd99;
 padding:30px;
 front-family:sans-serif;
}

h1{
color:Grey
}
H2{
color:maroon
}

img {
 width:200px;
  float:right;
 padding:30px;
}
img.left{
 float:left;
 padding:30px;
}
#footer{
}
#clearer{
}
