body{
 Background: Red;
 color:#000066;
}
#contents{
 margin-left:auto;
 margin-right:auto;
 width:600px;
 
 backgronud:#fffd99;
 padding:30px;
 front-family:sans-serif;
 front-size:medium;
border:white insert 30px;
}

h1{
}
A:link{
}
A:visited{
}
H2{
}
#head lock address{
}
#home, #page2 {
 background color:blue
  padding:30px;
}

img {
 width:200px;
  float:right;
 padding:30px;
}
img.left{
 float:left;
 padding:30px;
}
#footer{
}
#clearer{
}
