body{
 Background: Red;
 color:#000066;
}
#contents{
 margin-left:auto;
 margin-right:auto;
 width:600px;
 
 backgronud:#fffd99;
 padding:30px;
 front-family:sans-serif;
}

h1{
color:Grey
}
H2{
color:maroon
}

.heading {
font-weight:bold;
}
#dogfood{
    color: pink;

   font-size:200%;
}
a{
  color: purple
}
