body {
background:#ff3366;
color:#000066
}
	
#contents {
	backgroun-66ffff;
	padding: 30px;
	
	margin-left:auto;
	margin-right:auto;
   width:700px;

}
h1 { 

}

A:link {
	text-decoration:none;
	color:#fco;

}

A:hover {
color:#00000;
}
a:visited {

}

#headblock address { 

}
 
 #home, #page2 {
 }
 
 h3 {

}
 
 img {

 width:200px;

  float:right;

 padding:30px;

}

img.left{

 float:left;

 padding:30px;

}

#footer {

}

#clearer {

}
