
body {
background-#ff3366	
}
	
#contents {
	backgroun-66ffff;
	margin-left:auto;
	margin-right:auto;
   width:700px;

}
h1 { 

}

A:link {
	text-decoration:none;
	color:#fco;

}

A:hover {

}
a:visited {

}

#headblock address { 

}
 
 #home, #page2 {
 }
 
 h3 {

}
 
 img {
width:200px:
float:right;
	 
	 
}

img.left { 
}

#footer {

}

#clearer {

}
