#2 {
	background:#darkgray
		color:white
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body









body {

background:#ff3366;

color:#000066

}

#contents {

	background: #66ffff url("https://thumbs.dreamstime.com/z/food-ingredient-19201538.jpg");

	padding: 30px;

	

	margin-left:auto;

	margin-right:auto;

   width:700px;

	background-color:rgba(0,0,0,.75);

	background-color:conflowerblue;

	color:black;

	front-family:'lato',sans-serif;

	front-size:medium;

  border:white insert 30px;

}

h1 { 



}



A:link {

	text-decoration:none;

	color:#fco;



}



A:hover {

color:#00000;

}

a:visited {



}



#headblock address { 



}

 

 #home, #page2 {

 }

 

 h3 {



}

 

 img {



 width:200px;



  float:right;



 padding:30px;



}



img.left{



 float:left;



 padding:30px;



}



#footer {



}



#clearer {



}

.topnav {  overflow: hidden;   

	background: rgba(0,0,0,.75); 

	border-radius: 10px;  

	margin-top: 10px;}.topnav a 

{ 

	float: left; 

	display: block;  

	color: #f2f2f2 ;

	

	text-align: center; 

	padding: 14px 16px; 

	text-decoration: none; 

	font-size: 17px;

}

.topnav a:hover 

{  background-color: #ddd; 

	color: black;

}

.topnav .icon { 

	display: none;

}	@media screen and (max-width: 600px) {

	.topnav a:not(:first-child) {display: none;} 

	.topnav a.icon {  

		float: left;   

		display: block;  

	}

}  .topnav.responsive a {    float: none;    display: block;    text-align: left;  }
