#top {
	
	background: #white url("https://jamesmcgeetennis.files.wordpress.com/2015/11/shortcuts-place-worth-going-quote.png?w=300&h=269");
}

#middle {
	background-color: darkgrey;
	color: white;
	display: inline-block;
	width: 100%;
}

#bottom {
	background-color: lightblue;# header-inner{ 
	padding:50px 0;
	width: 100%;
	background:#darkgray
		color:white
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body









body {

background:#ff3366;

color:#000066

}
}



	
