
#top {
background: url("https://s-media-cache-ak0.pinimg.com/736x/ff/9d/bf/ff9dbfca5c369c668409b1ac1f96008a--roadtrip-quotes-road-quotes.jpg");
	
	padding: 30px;

	

	margin-left:auto;

	margin-right:auto;
   width:700px;

	background-color:rgba(0,0,0,.75);

	front-family:'lato',sans-serif;

	front-size:medium;

  border:white insert 30px;
}
#middle {
	background-color: darkgrey;
	color: white;
	display: inline-block;
	padding: 30px;

        margin-left:auto;

        margin-right:auto;
	width:700px;
	

	front-family:'lato',sans-serif;

	front-size:medium;
	border:white insert 30px;
}

#bottom {
	background-color: lightblue;# header-inner{ 
	
	width: 700px;
		padding: 30px;
        margin-left:auto;
        margin-right:auto;
	background:#darkgray
		color:white
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body






	front-family:'lato',sans-serif;

	front-size:medium;
	}



body {

background:#ff3366;

color:#000066

}
}



	
